
:root {
    
    --ana-renk: #e3bbbc;      
    --vurgu-rengi: #233140; 
    --arka-plan: #f7efda;  
    --kart-arkaplan: #ffffff; 
    --yazi-rengi: #6f5d4f;   
}

body {
    background-color: var(--arka-plan);
    color: var(--yazi-rengi);
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.navbar {
    background-color: var(--ana-renk) !important;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1); 
}

.navbar-brand {
    font-weight: bold;
    color: var(--vurgu-rengi) !important;
    font-size: 1.5rem;
}


.card {
    border: none; 
    border-radius: 15px; 
    box-shadow: 0 5px 15px rgba(0,0,0,0.05); 
    transition: transform 0.3s ease; 
    background-color: var(--kart-arkaplan);
    overflow: hidden;
}

.card:hover {
    transform: translateY(-5px); 
    box-shadow: 0 10px 20px rgba(0,0,0,0.15);
}

.card-img-top {
    height: 200px;
    object-fit: contain; 
    padding: 15px;
    background-color: #fff;
}


.btn-primary {
    background-color: var(--ana-renk);
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
}

.btn-primary:hover {
    background-color: var(--vurgu-rengi); 
}

.text-primary {
    color: var(--vurgu-rengi) !important;
}